{% extends "site_base.html" %}
{% load i18n markdown_deux_tags %}
{% load staticfiles activity_tags social_tags %}
{% load base_tags announcements_tags avatar_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

    {% block footer %}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class=" pull-right">
            <label>{% trans "Language" %}</label>
            {% if csrf_token != "NOTPROVIDED" %}
            {% get_current_language as LANGUAGE %}
            <form class="form-inline" action="/i18n/setlang/" method="post">
            {% csrf_token %}
              <select name="language" onchange="javascript:form.submit()">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                  {{ lang.1 }}
                </option>
                {% endfor %}
              </select>
            </form>
          {% endif %}
          </div> <!-- /.pull-right -->
        </div>
      </div> <!-- /.container -->
    </footer>
    {% endblock footer %}


{% block middle %}

  {% block hero %}
  {% endblock %}  

  {% block mainbody %}
  <div class="container">
    <div class="row">
      <h2>{% trans "Novedades" %}</h2>
      {% announcements as site_announcements %}
      {% for announcement in site_announcements %}
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{announcement.title}}</h3>
            </div>
            <div class="panel-body">
              {{announcement.content|safe}}
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="col-md-5">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Nuevas capas públicas</h3>
          </div>
          <div class="panel-body">

              {% for layer in new_public_layers %}
                <div class="col-md-4">
                  <a href="{{layer.detail_url}}">
                    <img class="img-thumbnail" src="{{layer.thumbnail_url}}"/>
                  </a>
                    <h5>{{layer.title|truncatechars:18}}</h5>
                    {% if item.category.gn_description %}
                    <div>{{ item.category.gn_description }}&nbsp;</div>
                    {% endif %}
                    <span>
                      <i class="fa fa-bank"></i>
                      {{ layer.creator.username }}
                    </span>
                    <br/>
                    <span><i class="fa fa-calendar-o"></i>{{ layer.date|date:'d M y' }}</span> 
                    
                </div>
              {% endfor %}
            
          </div>
        </div>
      </div>      
    </div>

    <div class="row">
      <h2>{% trans "Mis aplicaciones" %}</h2>    
      {% for app in apps %}
        <div class="col-md-5">
        <div class="panel panel-success">
          <div class="panel-heading">
            <a href="{{app.email}}" target="_blank">
              <h3 class="panel-title"><img class="img-thumbnail" width="40" src="{{app.logo.url}}"/>
              &nbsp;
              {{app.title}}
              &nbsp;
              <i class="fa fa-external-link"></i>
              </h3>
            </a>
          </div>
          <div class="panel-body">
          <div class="col-md-7">
          {% if app.widget_url %}
            <iframe frameborder="0" src="{{app.widget_url}}"></iframe>
          {% else %}
            <p>No hay novedades</p>
          {% endif %}
          </div>
          <div class="col-md-5 label label-success">
            Actividades
          </div>
          <div class="col-md-5" style="height:200px; overflow-y:auto">
            {% for action in app.get_action_list.all %}
              {% activity_item action template="social/_activity_item_small.html" %}
            {% empty %}
              <p>{% trans "No actions yet" %}</p>
            {% endfor %}
          </div>

          </div>
        </div>
        </div>
      {% empty %}
          ¿Qué esperás para empezar a usar aplicaciones?<br/>
          Consultá las aplicaciones disponibles en la sección <b><a href=\"{% url 'app_list' %}\">Aplicaciones</a></b>
      {% endfor %}
    </div>

    {% if request.user.profile == 'contractor' %}
      <h2>{% trans "Mis servicios" %}</h2>        
      {% for app in services %}
        <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><img class="img-thumbnail" width="40" src="{{app.logo.url}}"/>
            &nbsp;
            {{app.title}}
            &nbsp;
            </h3>
          </div>
          <div class="panel-body">
          <div class="label label-success">
            Usuarios
          </div>
          <div style="margin-top:20px; height:200px; overflow-y:auto">
            {% for member in app.appmember_set.all %}
              {% if member.role == 'member' %}
                    <div class="col-md-3">
                      <a class="thumbnail" href="{{member.user.get_absolute_url}}">
                        <img width="80px" src="{%avatar_url member.user%}"/>
                        <small align="center" class="caption">{{member.user.full_name}}</small>
                      </a>
                    </div>
                
              {% endif %}
            {% endfor %}
          </div>
          </div>
        </div>
        </div>
      {% empty %}
          No creaste todavía ningún servicio. 
          Podés crear alguno desde la sección <b><a href="{% url 'contractor_service_list' %}">Servicios</a></b>        
      {% endfor %}
    {% else %}
    <div class="row">
      <h2>{% trans "Mis servicios" %}</h2>
      {% for app in services %}
        <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><img class="img-thumbnail" width="40" src="{{app.logo.url}}"/>
            &nbsp;
            {{app.title}}
            &nbsp;
            </h3>\
          </div>
          <div class="panel-body">
          <div class="label label-success">
            Actividades
          </div>
          <div style="height:200px; overflow-y:auto" class="col-md-12">
            {% for action in app.actions %}
              {% activity_item action template="social/_activity_item_small.html" %}            
            {% empty %}
              <p>{% trans "No actions yet" %}</p>
            {% endfor %}
          </div>

          </div>
        </div>
        </div>
      {% empty %}
          No tenés contratado ningún servicio.
          Consultá los servicios disponibles en la sección <b><a href=\"{% url 'contractor_service_list' %}\">Servicios</a></b>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endblock %}
  
{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){  
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })(); 
  </script>

{% endblock extra_script %}
