{% load i18n %}

<div class="tab-content paginate paginate-auto" id="search-content"
  ng-init="url_profile = '{% url 'profile_browse' %}profile/'; 
           url_app = '{% url 'app_list' %}'">

<div class="row">
  <h5>{% trans "The following users can access this layer:" %}</h5>
    {% verbatim %}
    <article ng-repeat="profile in results | filter:{profile:'!application'}">
        <div class="col-md-3">
          <a href="{{url_profile}}{{profile.username}}">
          <img ng-src="{{ profile.avatar_100 }}"/></a><br/>
          <i class="fa fa-user"></i><span>{{ profile.username }}</span>      
        </div>
    </article>
    {% endverbatim %}  
</div> 
<br/>
<div class="row">
  <h5>{% trans "The following apps can access this layer:" %}</h5>
    {% verbatim %}
    <article ng-repeat="profile in results | filter:{profile:'application'} ">
        <div class="col-md-3">
          <a href="{{url_app}}{{profile.username}}">
          <img ng-src="{{ profile.avatar_100 }}"/></a><br/>
          <i class="fa fa-cubes"></i><span>{{ profile.username }}</span>      
        </div>
    </article>
    {% endverbatim %}
</div> 

</div>