{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load taggit_extras %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Layers" %} - {{ block.super }} {% endblock %}

{% block body_class %}layers explore{% endblock %}

{% block body %}
 
  {% with facet_type='layers' %}

  <div class="col-md-2">
    
<!--     <div class="col-md-12">
        <h2 class="page-title" style="">{% trans "Explore Layers" %}</h2>
        <hr>
    </div>
 -->    

    <div class="row">
      <div class="col-md-12 filter" style="font-size:11px;">      
        {% if custom_sort_filter %}
          {% include custom_sort_filter %}
        {% else %}
          {% include "search/_sort_filters.html" %}
        {% endif %}
      </div>    
    </div>    

    <div class="row">
      <div class="col-md-12" >
        <div class="selections">
          <h5 style="font-size:11px;">
            {% trans "Filters" %}
            <a href="." id="clear-search" class="pull-right">{% trans "Clear all filters" %}</a>
          </h5>
        </div>
        {% include 'layers/_layer_filter.html' %}
      </div>

    </div>     
  </div>

  <div class="col-md-7">
    {% include "layers/_layer_content_header.html" %}
  </div>
  
  <div class="col-md-3">

    <div class="col-md-12" style="margin-top:10px;">
        <a href="{% url "layer_upload" %}" style="width:100%;" class="btn btn-primary ">{% trans "Upload Layers" %}</a>
        <hr>
    </div>


    {% if custom_content_header %}
      {% include custom_content_header %}
    {% endif %}

    {% include 'search/_pagination.html' %}

    {% if custom_snippet %}
      {% include custom_snippet %}
    {% else %}
      {% include 'base/_resourcebase_snippet.html' %}
    {% endif %}
  </div>

  {% endwith %}

{% endblock %}


{% block extra_script %}

  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=layer'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}';
      {% endif %}
    FIXED_FILTERS = {};
    FILTER_TYPE = 'layer';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}

{% endblock extra_script %}
