{% comment %}
<article>
	<div class="row objs-list">
	  <div class="col-md-4">
	    <a href="{{ obj.detail_url }}"><img class="thumb" ng-src="{{ obj.thumbnail_url }}" /></a>
	  </div>
    <div class="col-md-8">
      <h4><a href="{{ obj.detail_url }}">{{ obj.title }}</a></h4>
      <p>{{ obj.category.description }}</p>
      <p class="resources-shared">{% trans "Shared" %} <input data-resource-id="{{ obj.id }}" {% if obj.id in permissions %}checked="checked"{%endif%} class="resource-app-shared" type="checkbox"/></p>
    </div>
  </div>
</article>
{% endcomment %}

  <article>
    <div class="row objs-list">
      <div class="col-md-3">
        <a href="{{ obj.detail_url }}"><img class="thumb" ng-src="{{ obj.thumbnail_url }}" height="100px"/></a>
      </div>
      <div class="col-md-8">
        <h4><a href="{{ obj.detail_url }}">{{ obj.title }}</a></h4>
        <p><i class="fa fa-calendar-o"></i>{{ obj.date|date:'d M y' }} | <i class="fa fa-leaf"></i>{{ obj.category.description }}</p>
        <p class="actions">
          <p class="shared" style="{% if obj.id not in permissions %} display:none {% endif %}">
            <i class="shared fa fa-unlock"></i>
            <a class="shared share-resource" data-share="false" data-resource-id="{{obj.id}}" href="javascript:void(0)">shared</a>
          </p>
          
          <p class="notshared" style="{% if obj.id in permissions %} display:none {% endif %}">
            <i class="fa fa-lock"></i>
            <a class="share-resource" data-share="true" data-resource-id="{{obj.id}}" href="javascript:void(0)">private</a>
          </p>
          
        </p>
      </div>
    </div>
  </article>
