{% load i18n %}


  <div class="tab-content paginate paginate-auto" id="search-content"
  ng-init="url_profile = '{% url 'profile_browse' %}profile/'; 
           url_member = '/apps/member/{{object.id}}/';
           url_app = '{% url 'app_list' %}'">

    <div ng-if="results.length == 0">
      {% trans "This application has no users yet." %}
    </div>

  {% verbatim %}

    <article ng-repeat="profile in results">
        <div class="col-md-3">
          <a href="{{url_member}}{{profile.username}}" >
          <img width="70px" ng-src="{{ profile.avatar_100 }}"/></a><br/>
          <i class="fa fa-user"></i><span>{{ profile.username }}</span>      
        </div>
    </article>
  {% endverbatim %}

</div>

{% comment %}


{% verbatim %}
<article ng-repeat="profile in results">
  <div class="row">
    <div class="col-md-2">
{% endverbatim %}
      <a href="{% url 'app_member_detail' object.id profile.username %}" >
{% verbatim %}        
      <img ng-src="{{ profile.avatar_100 }}"/></a>
    </div>
    <div class="col-md-10">
      <h5>
        <i class="fa fa-user"></i> <a href="/apps/member/{% endverbatim %}{{object.id}}{% verbatim %}/{{profile.username}}">{{ profile.username }}</a>
        <a href="mailto:{{ profile.email }}" ng-if="profile.email != ''"><i class="fa fa-envelope-o"></i></a>
      </h5>
      <p>{{ profile.organization != '' ?  profile.organization : "No Organization Info" }}</p>
      <ul class="list-inline">
        <li>
          <a href="/apps/member/{% endverbatim %}{{object.id}}{% verbatim %}/{{profile.username}}?content=layers">
            <strong>{{ profile.layers_count }}</strong>
            <ng-pluralize count="profile.layers_count" when="{'1': 'Layer', 'other': 'Layers'}"></ng-pluralize>
          </a>
        </li>
        <li>
          <a href="/apps/member/{% endverbatim %}{{object.id}}{% verbatim %}/{{profile.username}}?content=maps">
            <strong>{{ profile.maps_count }}</strong>
            <ng-pluralize count="profile.maps_count" when="{'1': 'Map', 'other': 'Maps'}"></ng-pluralize>
          </a>
        </li>
        <li>
          <a href="/apps/member/{% endverbatim %}{{object.id}}{% verbatim %}/{{profile.username}}?content=documents">
            <strong>{{ profile.documents_count }}</strong>
            <ng-pluralize count="profile.documents_count" when="{'1': 'Document', 'other': 'Documents'}"></ng-pluralize>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
{% endverbatim %}


{% endcomment %}

