{% load i18n %}


{% verbatim %}
<article ng-repeat="profile in results">
  <div class="row">
    <div class="col-md-2">
{% endverbatim %}
      <a href="{% url 'app_member_detail' object.id profile.username %}" >
{% verbatim %}        
      <img ng-src="{{ profile.avatar_100 }}"/></a>
    </div>
    <div class="col-md-10">
      <h5>
        <i class="fa fa-user"></i> {% endverbatim %}<a href="{% url 'app_member_detail' object.id  profile.username %}">{% verbatim %}{{ profile.username }}</a>
        <a href="mailto:{{ profile.email }}" ng-if="profile.email != ''"><i class="fa fa-envelope-o"></i></a>
      </h5>
      <p>{{ profile.organization != '' ?  profile.organization : "No Organization Info" }}</p>
      <ul class="list-inline">
        <li>
          {% endverbatim %}<a href="{% url 'app_member_detail' object.id  profile.username %}?content=layers">{% verbatim %}
            <strong>{{ profile.layers_count }}</strong>
            <ng-pluralize count="profile.layers_count" when="{'1': 'Layer', 'other': 'Layers'}"></ng-pluralize>
          </a>
        </li>
        <li>
          {% endverbatim %}<a href="{% url 'app_member_detail' object.id profile.username %}?content=maps">{% verbatim %}
            <strong>{{ profile.maps_count }}</strong>
            <ng-pluralize count="profile.maps_count" when="{'1': 'Map', 'other': 'Maps'}"></ng-pluralize>
          </a>
        </li>
        <li>
          {% endverbatim %}<a href="{% url 'app_member_detail'  object.id profile.username %}?content=documents">{% verbatim %}
            <strong>{{ profile.documents_count }}</strong>
            <ng-pluralize count="profile.documents_count" when="{'1': 'Document', 'other': 'Documents'}"></ng-pluralize>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>
{% endverbatim %}