{% extends "apps/app_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Create App" %}{% endblock %}
{% block body_class %}apps update{% endblock %}

{% block body %}
     <div class="block">
        <div class="col-md-10">
          <h2 class="page-title">{% trans "Update Apps" %}</h2>
          {% if errors %}
            <div id="errors">
              {% for error in errors %}
                <div>{{ error }}</div>
              {% endfor %}
            </div>
          {% endif %}
            <div>
                    <form class="uniForm" id="form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {% bootstrap_form form  %}
            <div class="form_block">
                <input type="hidden" name="action" value="create" />
                <input type="submit" class="btn btn-primary" value="{% trans 'Update' %}"/>
            </div>
        </fieldset>
    </form>
            </div>
        </div>
    </div>
    
{% endblock %}
