{% extends "apps/app_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load guardian_tags %}

{% block title %}{{ object.title|default:object.slug }} — {{ block.super }}{% endblock %}

{% block body_class %}apps{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">{{ object.title|default:object.slug }}</h2>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3">
      {% if object.logo %}
        <img src="{{ object.logo.url }}" alt="{{ object.title }}" class="group-logo" />
      {% else %}
        <p>{% trans "This app has not created a logo." %}</p>
      {% endif %}
      </div>
      <div class="col-md-9">
        <p>{{ object.description }}</p>
        <dl class="dl-horizontal profile-details">
          <dt><i class="fa fa-eye"></i></dt>
          <dd>
          {% if object.keyword_list %}
            {% for keyword in object.keyword_list %}
              {{ keyword }}
            {% endfor %}
          {% else %}
          <br>
          {% endif %}
          </dd>
          {% if object.email %}
          <dt><i class="fa fa-external-link"></i></dt>
          <dd>
            <a target="_blank" href="{{ object.email }}">{{ object.email }}</a>
          </dd>
          {% endif %}
        </dl>
      </div>
    </div>

    {% if is_manager %}
    <div class="row">
      <div class="col-md-12">
        <h3>{% trans "Users" %}</h3>
        {% include 'search/_pagination.html' %}
         <div class="tab-content paginate paginate-auto" id="search-content">
        {% include 'apps/_profile_list_item.html' %}
        </div> 
      </div>
    </div>
    {% endif %}
    
    {% if not is_manager and is_member %}

    <div class="col-md-12">
      <h3>{% trans "Resources shared with this app" %}</h3>
        <ul class="nav nav-pills filter" id="sort">
          <li><a href="{{ object.detail_url }}?" {% if content_filter  == "all" %}class="selected"{% endif %}>{% trans "All contents" %}</a></li>
          <li><a href="{{ object.detail_url }}?content=layers"{% if content_filter == "layers" %} class="selected"{% endif %}>{% trans "Layers" %}</a></li>
          <li><a href="{{ object.detail_url }}?content=monitors"{% if content_filter == "monitors" %} class="selected"{% endif %}>{% trans "Monitors" %}</a></li>
          <li><a href="{{ object.detail_url }}?content=documents"{% if content_filter == "documents" %} class="selected"{% endif %}>{% trans "Documents" %}</a></li>
        </ul>
    </div>

    {% endif %}

  </div>


  <div class="col-md-4">
    <ul class="list-group">
      {% if is_manager %}
      <li class="list-group-item"><a href="{% url "app_update" object.slug %}">{% trans "Edit App Details" %}</a></li>
      <!-- <li class="list-group-item"><a href="{ url "app_members" object.slug }">{% trans "Manage App Members" %}</a></li> -->
      <li class="list-group-item"><a href="{% url "app_remove" object.slug %}">{% trans "Delete this App" %}</a></li>
      {% endif %}

      {% if is_member and not is_manager%}
      <li class="list-group-item"><a href="{% url "app_member_unlink" object.slug request.user.username %}">{% trans "Unlink this App" %}</a></li>
      {% endif %}

      {% if can_view %}
      <li class="list-group-item"><a href="{% url "group_activity" object.slug %}">{% trans "Group Activities" %}</a></li>
      {% endif %}

      {% if not is_manager and not is_member %}
      <li class="list-group-item">
        <h4>{% trans "Permissions" %}</h4>
        <p>
          {% blocktrans with object.get_access_display as access %}
            This app is public<strong>{{ access }}</strong>.
          {% endblocktrans %}
          {% comment %}
          {% if object.access == "public" %}
          {% endcomment %}
            {% trans "Anyone may link this app." %}
            <a class="btn btn-default btn-md btn-block" href="{% url "app_member_link" object.slug request.user.username %}">{% trans "Link this app" %}</a>
            {% comment %}
            <form class="uniForm" method="POST" action="{% url "app_join" object.slug %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-default btn-md btn-block" value="Link this App" />
            </form>
            {% endcomment %}
          {% comment %}  
          {% else %} {% if object.access == "public-invite" %}
            {% trans "Anyone may view this group but membership is by invitation only." %}
          {% else %#} {#% if object.access == "private" %}
            {% trans "Membership is by invitation only." %}
          {% endif %} {% endif %} {% endif %}
          {% endcomment %}
        </p>
      </li>
      {% endif %}
      <li class="list-group-item">
        <h4>{% trans "Developer" %}</h4>
        {% for manager in object.get_managers %}
        {% with manager as profile %}
          {% include "people/_profile_about_item.html" %}
        {% endwith %}
        {% endfor %}
      </li>
    </ul>
  </div>

    {% if not is_manager and is_member %}  
    <!--resources-->
    <div class="col-md-12">
        <div class="tab-content span12 paginate paginate-auto">
          {% if object_list|length > 0 %}
          <div class="tab-pane active list paginate-contents" id="all">
              {% autopaginate object_list 5 %}
                {% for obj in object_list %}
                  {% if obj.layer_type == 'monitor' %}
                    {% include "apps/_monitor_resource.html" %}
                  {% else %}
                <article>
                  <div class="content">
                    <div class="item-header">
                    <img class="thumb" src="{{ obj.thumbnail_url}}" />

                    {% if obj.class_name = 'Map' %}
                    <h3><i class="fa fa-map-marker"></i>
                    {% endif %}
                    
                    {% if obj.class_name = 'Layer' %}
                    <h3><i class="fa fa-square-o rotate-45"></i>
                    {% endif %}
                    
                    {% if obj.class_name = 'Document' %}
                    <h3><i class="fa fa-file-text-alt"></i>
                    {% endif %}
                    <a href="{{ obj.detail_url }}">{{ obj.title }}</a>
                    </h3>

                  </div>
                  <div class="details">
                    <div class="meta">
                      <p class="resources-abstract">{{ obj.abstract }}</p>
                      <p class="resources-shared">{% trans "Shared" %} <input data-resource-id="{{ obj.id }}" {% if obj.id in permissions %}checked="checked"{%endif%} class="resource-app-shared" type="checkbox"/></p>
                      <!-- <p class="sharing-date">{% trans "Shared on" %} {{ obj.date|date:"d b Y" }}</p> -->
                    </div>
                  </div>
                </article>
                {% endif %}
                {% endfor %}
            </div>
              {% paginate %}
          </div>
          {% else %}
          </div>
          <article>
            <p>{% trans "No contents found." %}</p>
          </article>
        {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    <!--end resources-->


</div>

{% endblock %}
{% block extra_script %}
  <script>
      $(function(){
          $('input.resource-app-shared').change(function(e){
              el = $(this)
              $.ajax({
                  type: "POST",
                  url: '{% url 'app_resource_share' app_id=object.id %}',
                  dataType: 'json',
                  data: {
                    resource_id: $(this).data('resource-id'), 
                    shared: $(this).is(':checked')
                  },
                  success: function(data){
                     if(data.status == 'error'){
                         el.prop("checked", false); 
                     }
                  }
              })
          })
      });

      $(function(){
        $("a.share-resource").click(function(e) {
          el = $(this);
          var share = $(this).data('share');
          $.ajax({
              type: "POST",
              url: '{% url 'app_resource_share' app_id=object.id %}',
              dataType: 'json',
              data: {
                resource_id: $(this).data('resource-id'), 
                shared: share
              },
              success: function(data){
                 if(data.status != 'error'){
                  var par = el.parent().parent();
                    if(share) {
                      par.find(".shared").show();
                      par.find(".notshared").hide();
                    } else {
                      par.find(".shared").hide();
                      par.find(".notshared").show();
                    }
                 }
              }
          });
        });
      });

  </script>
  <script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}'+ '?app='+ '{{ object.slug }}';
  </script>

  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}

