{% extends "apps/app_base.html" %}
{% load i18n %}

{% block title %}{{ app.title }} — {{ block.super }}{% endblock %}
{% block body_class %}{%if app.is_service%}contractor_services{%else%}apps{%endif%} member remove{% endblock %}

{% block footer %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8">
    <form action="{% url "app_member_link" app.slug request.user.username %}" method="POST">
      <h2>{% trans app.title %}</h2>
      <h4>{%blocktrans%}This {{thing}} needs access to the following resources: {%endblocktrans%}</h4>
      <ul class="panel panel-default">
        <li style="margin-bottom:10px">{% trans "<b>leer</b> capas privadas de los siguientes tipos:" %}
      <ul>
      {% for layer_type in read_permissions %}
        <li>{{layer_type.label}}</li>
      {% empty %}
        <p>{% trans "(no se requiere ningún recurso)" %}
      {% endfor %}
      </ul></li>

      <li style="margin-bottom:10px">{% trans "<b>crear</b> capas privadas de los siguientes tipos:" %}
      <ul>
      {% for layer_type in create_permissions %}
        <li>{{layer_type.label}}</li>
      {% empty %}
        <p>{% trans "(no se requiere ningún recurso)" %}
      {% endfor %}
      </ul></li>

      <li style="margin-bottom:10px">{% trans "se utilizarán las siguientes capas públicas:" %}
      <ul>
      {% for layer in app.public_layer_permissions.all %}
        <li>{{layer.title}}</li>
      {% empty %}
        <p>{% trans "(no se requiere ningún recurso)" %}
      {% endfor %}
      </ul></li>
      </ul>

      <br/> 
      <h4>{%blocktrans%}Are you sure you want to link this {{thing}}? {%endblocktrans%}</h4>
      {% csrf_token %}
      <input type="hidden" value="{{ app.slug }}" />
      <div class="form-actions">
        <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
        <a href="{% url "app_detail" app.slug %}" class="btn btn-info">{% trans "No, don't link it" %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
