{% extends "apps/app_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load guardian_tags %}

{% block title %}{{ object.title|default:object.slug }} — {{ block.super }}{% endblock %}

{% block body_class %}apps{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">
      {% if object.logo %}
        <img width="40px" src="{{ object.logo.url }}" alt="{{ object.title }}"/>
      {% endif %}
      {{ object.title|default:object.slug }}
      <a target="_blank" href="{{ object.email }}">
        <i class="fa fa-external-link"></i>
      </a>
    </h2>
    <br/>
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-9">
        {% if object.thumbnail %}
          <img src="{{ object.thumbnail.url }}" alt="{{ object.title }}"/>
        {% endif %}
      </div>
    </div>

    <div class="layer-actions">
      {% include "apps/_actions.html" %}
    </div>

    <div class="tab-content">

    <article class="description tab-pane active" id="info">
      <p>{{ description|safe }}</p>
    </article>

    {% if is_member %}

    <article id="resources" class="tab-pane">
      <ul class="nav nav-pills filter" id="sort">
        <li><a data-value="" data-filter="csw_type" ng-click="single_choice_listener($event)">{% trans "All contents" %}</a></li>
        <li><a data-value="dataset" data-filter="csw_type" 
          data-url="{% url 'api_dispatch_list' api_name='api' resource_name='base' %}?app={{ object.slug}}"
          ng-click="single_choice_listener($event)">{% trans "Layers" %}</a></li>
        <li><a data-value="document" data-filter="csw_type" 
          data-url="{% url 'api_dispatch_list' api_name='api' resource_name='base' %}?app={{ object.slug}}"
        ng-click="single_choice_listener($event)">{% trans "Documents" %}</a></li>
        <li><a data-value="tabular" data-filter="csw_type" 
          data-url="{% url 'api_dispatch_list' api_name='api' resource_name='base' %}?app={{ object.slug}}"
          ng-click="single_choice_listener($event)">{% trans "Tabular" %}</a></li>
      </ul>

      <div class="col-md-12">
        <div class="tab-content span12 paginate paginate-auto">
          <div class="tab-pane active list paginate-contents" id="all">
            {% include "apps/_app_resources.html" %}
            {% include 'search/_pagination.html' %}
          </div>
        </div>
      </div>
    </article>

    {% endif %}

    {% if is_manager %}
    <article id="users" class="tab-pane">
      <div class="col-md-12">
        <div class="tab-content span12">
          <div class="tab-pane active list">
            {% include "apps/_app_profiles.html" %}
          </div>
        </div>
      </div>
    </article>

    {% endif %}


    </div>
  </div>


  <div class="col-md-4">
    <ul class="list-group">
      {% if is_manager %}
      <li class="list-group-item"><a href="{% url "app_update" object.slug %}">{% trans "Edit App Details" %}</a></li>
      <!-- <li class="list-group-item"><a href="{ url "app_members" object.slug }">{% trans "Manage App Members" %}</a></li> -->
      <li class="list-group-item"><a href="{% url "app_remove" object.slug %}">{% trans "Delete this App" %}</a></li>
      {% endif %}

      {% if is_member and not is_manager%}
      <li class="list-group-item"><a href="{% url "app_member_unlink" object.slug request.user.username %}">{% trans "Unlink this App" %}</a></li>
      {% endif %}

      {% if can_view %}
      <li class="list-group-item"><a href="{% url "group_activity" object.slug %}">{% trans "Group Activities" %}</a></li>
      {% endif %}

      {% if not is_manager and not is_member %}
      <li class="list-group-item">
        <p>
          {% blocktrans with object.get_access_display as access %}
            This app is public<strong>{{ access }}</strong>.
          {% endblocktrans %}
          {% comment %}
          {% if object.access == "public" %}
          {% endcomment %}
            <br/>
            {% trans "Anyone may use this app." %}
            <br/>
            <a class="btn btn-default btn-md btn-block" href="{% url "app_member_link" object.slug request.user.username %}">{% trans "Link this app" %}</a>            
            {% comment %}
            <form class="uniForm" method="POST" action="{% url "app_join" object.slug %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-default btn-md btn-block" value="Link this App" />
            </form>
            {% endcomment %}
          {% comment %}  
          {% else %} {% if object.access == "public-invite" %}
            {% trans "Anyone may view this group but membership is by invitation only." %}
          {% else %#} {#% if object.access == "private" %}
            {% trans "Membership is by invitation only." %}
          {% endif %} {% endif %} {% endif %}
          {% endcomment %}
        </p>
      </li>
      {% endif %}
      
      <li class="list-group-item">
        <h4>{% trans "Permissions" %}</h4>
        {% trans "This app needs access to the following resources:" %}
        <ul>
          {% for keyword in object.keyword_list %}
            <li>{{keyword}}</li>
          {% endfor %}
        </ul>
      </li>

      {% if is_manager %}
      <li class="list-group-item">
        <h4>API Key</h4>
        <small>{{object.get_alter_ego.api_key.key}}</small>
      </li>
      {% endif %}

      <li class="list-group-item">
        <h4>{% trans "Developer" %}</h4>
        {% for manager in object.get_managers %}
        {% with manager as profile %}
          {% include "people/_profile_about_item.html" %}
        {% endwith %}
        {% endfor %}
      </li>
    </ul>
  </div>

    </div>

</div>

{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}'+ '?app='+ '{{ object.slug }}';

  </script>

  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}

