{% extends "people/profile_base.html" %}
{% load static %}
{% load friendly_loader %}
{% friendly_load i18n avatar_tags relationship_tags activity_tags %}
{% load pagination_tags %}

{% block title %} {% trans "Profile of " %}{{ profile.first_name|default_if_none:profile.username }}{% endblock %}

{% block body_class %}apps explore{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">{{ profile.name_long }}</h2>
  </div>
  <div class="col-md-2">
    {% avatar profile 140 %}
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal profile-details">
     {% if profile.position %}
     <dt><i class="fa fa-user"></i></dt>
     <dd>{{ profile.position }}</dd>
     {% endif %}
     {% if profile.organization %}
     <dt><i class="fa fa-building"></i></dt>
     <dd>{{ profile.organization }}</dd>
     {% endif %}
     {% if user.is_authenticated %}
        {% if profile.location %}
        <dt><i class="fa fa-map-marker"></i></dt>
        <dd>{{ profile.location }}</dd>
        {% endif %}
        {% if profile.voice %}
        <dt><i class="fa fa-phone"></i></dt>
        <dd><a href="tel:{{ profile.voice }}">{{ profile.voice }}</a></dd>
        {% endif %}
        {% if profile.fax %}
        <dt><i class="fa fa-print"></i></dt>
        <dd>{{ profile.fax }}</dd>
        {% endif %}
        {% if profile.email %}
        <dt><i class="fa fa-external-link"></i></dt>
        <dd>
          <a href="{{ profile.email }}">{{ profile.email }}</a>
        </dd>
        {% endif %}
        {% endif %}
        {% if profile.keyword_list %}
        <dt><i class="fa fa-eye"></i></dt>
        <dd>
          {% for keyword in profile.keyword_list %}
            {{ keyword }}
          {% endfor %}
        </dd>
        {% endif %}
        {% if object.email %}
        <dt><i class="fa fa-external-link"></i></dt>
        <dd>
          <a href="{{ object.email }}">{{ object.email }}</a>
        </dd>
        {% endif %}
      </dl>
  </div>

</div>

<div class="col-md-12">
  <h3>Resources</h3>
    <ul class="nav nav-pills filter">
      <li><a href="{{ object.detail_url }}" {% if content_filter  == "all" %}class="selected"{% endif %}>{% trans "All contents" %}</a></li>
      <li><a href="{{ object.detail_url }}?content=layers"{% if content_filter == "layers" %} class="selected"{% endif %}>{% trans "Layers" %}</a></li>
      <li><a href="{{ object.detail_url }}?content=maps"{% if content_filter == "maps" %} class="selected"{% endif %}>{% trans "Maps" %}</a></li>
      <li><a href="{{ object.detail_url }}?content=documents"{% if content_filter == "documents" %} class="selected"{% endif %}>{% trans "Documents" %}</a></li>
      <li><a href="{{ object.detail_url }}?content={{ content_filter }}&sortby=date"{% if sortby_field == "date" %} class="selected"{% endif %}>{% trans "Sort by date" %}</a></li>
      <li><a href="{{ object.detail_url }}?content={{ content_filter }}&sortby=title"{% if sortby_field == "title" %} class="selected"{% endif %}>{% trans "Sort by title" %}</a></li>
    </ul>
</div>


<div class="col-md-8">
    <div class="tab-content span12 paginate paginate-auto">
      {% if object_list|length > 0 %}
      <div class="tab-pane active list paginate-contents" id="all">
          {% autopaginate object_list 5 %}
            {% for obj in object_list %}
            <article>
              <div class="content">
                <div class="item-header">
                <img class="thumb" src="{{ obj.thumbnail_url}}" />
                {% if obj.class_name = 'Map' %}
                <h3><i class="fa fa-map-marker"></i>
                {% endif %}
                {% if obj.class_name = 'Layer' %}
                <h3><i class="fa fa-square-o rotate-45"></i>
                {% endif %}
                {% if obj.class_name = 'Document' %}
                <h3><i class="fa fa-file-text-alt"></i>
                {% endif %}
                  <a href="{{ obj.detail_url }}">{{ obj.title }}</a>
                </h3>
              </div>
              <div class="details">
                <div class="meta">
                  <p class="resources-abstract">{{ obj.abstract }}</p>
                  <p class="sharing-date">{% trans "Shared on" %} {{ obj.date|date:"d b Y" }}</p>
                </div>
              </div>
            </article>
            {% endfor %}
        </div>
          {% paginate %}
      </div>
      {% else %}
      </div>

      <article>
        <p>{% trans "No contents found." %}</p>
      </article>
    {% endif %}

    </div>
  </div>
</div>

{% endblock %}


