{% extends "apps/app_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Explore Apps" %} - {{ block.super }} {% endblock %}

{% block body_class %}apps{% endblock %}

{% block body %}
  <div class="col-md-12">
    <a href="{% url "app_create" %}" class="btn btn-primary pull-right">{% trans "Create App" %}</a>
    <h2 class="page-title">{% trans "Explore Apps" %}</h2>
  </div>

  <div class="col-md-8 filter">
    <ul class="nav nav-pills filter" id="sort">
      <li><a data-value="" data-filter="member" class="selected" ng-click="single_choice_listener($event)">{% trans "All" %}</a></li>
      <li><a data-value="{{ request.user }}" data-filter="member" ng-click="single_choice_listener($event)">{% trans "My apps" %}</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <div class="row" id="contain-slider">
      {% include 'search/_pagination.html' %}
      <div class="tab-content col-md-8" id="search-content">
      {% include "apps/_app_list_item.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='apps' %}'
  </script>
  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
