{% extends "apps/app_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Explore Apps" %} - {{ block.super }} {% endblock %}

{% block body_class %}{%if is_service%}contractor_services{%else%}apps{%endif%}{% endblock %}

{% block body %}
  
  {% if request.user.profile == 'developer' and not is_service %}
  <div class="col-md-12">
    <a href="{% url "app_create" %}" class="btn btn-primary pull-right">{% trans "Create App" %}</a>
  </div>
  {% elif request.user.profile == 'contractor' and is_service %}
  <div class="col-md-12">
    <a href="{% url "contractor_service_create" %}" class="btn btn-primary pull-right">{% trans "Create Service" %}</a>
  </div>  
  {% endif %}

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="contain-slider">
      <div class="tab-content" id="search-content">
        {% with custom_filters='apps/_app_filter.html' %}
        {% with custom_sort_filter='apps/_app_sort_filter.html' %}
        {% with custom_snippet='apps/_app_list_item.html' %}
        {% include "search/_search_content.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
      </div>
    </div>
  </div>




{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='apps' %}'
  FIXED_FILTERS = {
    is_service: '{{is_service}}' == 'True'?'1':'0'
  };
  </script>
  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
