{% load i18n %}
{% load staticfiles %}

<div class="profile_list tab-content" ng-controller="ProfileListController"
  ng-init="url_profile = '{% url 'profile_browse' %}profile/'; 
           url_app = '{% url 'app_list' %}';

  {% if "change_resourcebase_permissions" in resource_perms %}
    can_change = true;
  {% endif %} 

  ">

  {% if resource.is_public %}

  <div class="row">
    <div class="col-md-offset-0">
      <article>
        <div class="col-md-1">
          <img width="50px" class="img-thumbnail" ng-src="{% static 'geonode/img/world.png' %}"/>
        </div>
        <div class="col-md-4">
          {% trans "This resource is public." %}<br/>
          {% trans "Everybody can use it." %}
        </div>
      </article>
    </div>
  </div>

  {% else %}

  <!--
  <div class="row" ng-if="profile_list.length == 0">
    <div class="col-md-offset-0">
      <article>
        <div class="col-md-1">
          <i class="fa fa-2x fa-lock img-thumbnail"></i>
        </div>
        <div class="col-md-4">
          {% trans "This resource is private." %}<br/>
          {% trans "Only you can use it." %}
        </div>
      </article>
    </div>
  </div>
  -->
  <div class="row">
    <h4>{% trans "Users" %}</h4>

    <p class="col-md-offset-0" ng-if="(profile_list|filter:{profile:'user'}).length == 0">
      {% trans "This resource is not shared with any user" %}
      <br/><i class="fa fa-4x fa-plus-circle" style="color:black"></i>
    </p>

    {% verbatim %}
    <div class="col-md-offset-0" ng-if="(profile_list | filter:{profile:'user'}).length > 0">
      <article ng-repeat="profile in profile_list | filter:{profile:'user'} ">
          <div class="col-md-2">

            <a ng-if="can_change" style="position:relative; top:10px" ng-click="toggle_permission($event,profile.username)" href="#">

              <i ng-if="!disabled_user(profile.username)" style="color:black" class="fa fa-times-circle fa-2x"></i>
              
              <i ng-if="disabled_user(profile.username)" style="color:black" class="fa fa-plus-circle fa-2x"></i>
            </a>


            <a class="thumbnail" href="{{url_app}}{{profile.username}}" ng-style="disabled_user(profile.username)? {'background-color':'rgba(0,0,0,0.4)'} : {}">
              <img width="50px" ng-src="{{ profile.avatar_100 }}"/>
              <small align="center" class="caption">{{ profile.username }}</small>

              <i ng-if="disabled_user(profile.username)" class="fa fa-4x fa-times" style="color:black; position:absolute; top:25px; left:35px"></i>
          
            </a>
          </div>

      </article>

      <article>
          <div class="col-md-2" style="position:relative; top:40px">
              <i class="fa fa-4x fa-plus-circle" style="color:black"></i>      
          </div>
      </article>

    </div>
    {% endverbatim %}
  </div> 

  <div class="row">
    <h4>{% trans "Organizations" %}</h4> 

    <p class="col-md-offset-0" ng-if="(profile_list|filter:{profile:'organization'}).length == 0">
      {% trans "This resource is not shared with any organization" %}
      <br/>
      <i class="fa fa-4x fa-plus-circle" style="color:black"></i>
    </p>


    {% verbatim %}
    <div class="col-md-offset-0" ng-if="(profile_list | filter:{profile:'organization'}).length > 0">
      <article ng-repeat="profile in profile_list | filter:{profile:'organization'} ">
          <div class="col-md-2">          
            <a class="thumbnail" href="{{url_app}}{{profile.username}}">
              <img width="50px" ng-src="{{ profile.avatar_100 }}"/>
              <small align="center" class="caption">{{ profile.username }}</small>
            </a>
          </div>
      </article>
    </div>
    {% endverbatim %}
  </div>   

  <div class="row">
    <h4>{% trans "Applications" %}</h4> 

    <p class="col-md-offset-0" ng-if="(profile_list|filter:{profile:'application'}).length == 0">
      {% trans "This resource is not shared with any application" %}
    </p>

    {% verbatim %}
    <div class="col-md-offset-0" ng-if="(profile_list | filter:{profile:'user'}).length > 0">
      <article ng-repeat="profile in profile_list | filter:{profile:'application'} ">
          <div class="col-md-2">

            <a ng-if="can_change" style="position:relative; top:10px" ng-click="toggle_permission($event,profile.username)" href="#">

              <i ng-if="!disabled_user(profile.username)" style="color:black" class="fa fa-times-circle fa-2x"></i>
              
              <i ng-if="disabled_user(profile.username)" style="color:black" class="fa fa-plus-circle fa-2x"></i>
            </a>


            <a class="thumbnail" href="{{url_app}}{{profile.username}}" ng-style="disabled_user(profile.username)? {'background-color':'rgba(0,0,0,0.4)'} : {}">
              <img width="50px" ng-src="{{ profile.avatar_100 }}"/>
              <small align="center" class="caption">{{ profile.username }}</small>

              <i ng-if="disabled_user(profile.username)" class="fa fa-4x fa-times" style="color:black; position:absolute; top:25px; left:35px"></i>
          
            </a>
          </div>

      </article>
    </div>
    {% endverbatim %}
  </div> 

  {% endif %}

  {% comment %}
  {% if GEONODE_SECURITY_ENABLED %}
  {% if "change_resourcebase_permissions" in resource_perms %}

  <div class="row">
    <h4>{% trans "Advanced" %}</h4>
    <div class="col-md-offset-0">
      <p>{% trans "Click the button below to change the permissions of this layer." %}</p>
      <p class="col-md-3"><a href="#modal_perms" data-toggle="modal" class="btn btn-default btn-block" data-target="#_permissions">{% trans "Change Permissions" %}</a></p>
    </div>
  </div>


  {% endif %}
  {% endif %}
  {% endcomment %}

</div>



