{% verbatim %}
  <article ng-repeat="item in results">
  	<div class="row items-list" style="padding-top: 10px">
  	  <div class="col-md-4">
  	    <a href="{{ item.detail_url }}"><img style="width:100px;" class="thumbnail" ng-src="{{ item.thumbnail_url }}" /></a>
  	  </div>
      <div class="col-md-8">
        <h4><a href="{{ item.detail_url }}">{{ item.title }}</a></h4>
        <p>{{ item.category.gn_description }}</p>
        <p class="abstract">{{ item.abstract|limitTo:250 }}</p>
        <p class="actions">
          <span>
            <i ng-if="item.creator.profile == 'user'" class="fa fa-user"></i>
            <i ng-if="item.creator.profile == 'application'" class="fa fa-cubes"></i>
            <i ng-if="item.creator.profile == 'organization'" class="fa fa-bank"></i>
            {{ item.creator.username }}
          </span>
          <br/>
          <span><i class="fa fa-calendar-o"></i>{{ item.date|date:'d MMM y' }}</span> 
          <!--
          <a href="{{ item.detail_url }}"><i class="fa fa-eye"></i>{{ item.popular_count }}</a> |
          <a href="{{ item.detail_url }}#share"><i class="fa fa-share"></i>{{ item.share_count }}</a> |
          <a href="{{ item.detail_url }}#rate"><i class="fa fa-star"></i>{{ item.rating }}</a></p>
          -->
      </div>
    </div>
  </article>
{% endverbatim %}