{% load i18n %}

<article class="description tab-pane" id="links">
  <h4 class="dl-horizontal">{% trans "Forward" %}</h4>
  <dl class="dl-horizontal">
    {% for link in resource.resourcelinks_forward.all %}
        <dt>{{ link.link_type }}</dt>
        <dd><a href="{{ link.target.detail_url }}">{{ link.target.title.title|truncatechars:80 }}</a></dd>
    {% empty %}
        <p>{% trans "This object has no forward links to other objects." %}</p>
    {% endfor %}
  </dl>
  <br/>
  <h4 class="dl-horizontal">{% trans "Backward" %}</h4>
  <dl class="dl-horizontal">  
    {% for link in resource.resourcelinks_backward.all %}
        <dt>{{ link.link_type }}</dt>
        <dd><a href="{{ link.target.detail_url }}">{{ link.target.title.title|truncatechars:80 }}</a></dd>
    {% empty %}
        <p>{% trans "This object has no backward links to other objects." %}</p>
    {% endfor %}
  </dl>    

</article>
