{% load friendly_loader %}
{% friendly_load avatar_tags %}
{% load i18n %}

<section class="last">
  {% with 50 as avatar_size %}
    <div class="avatar span1 pull-left">
      {% if profile.profile == 'application' %}
        <a href="{% url "app_detail" profile.username %}">
          {% avatar profile avatar_size %}
        </a>      
      {% else %}
        <a href="{% url "profile_detail" profile.username %}">
          {% avatar profile avatar_size %}
        </a>
      {% endif %}
    </div>
  {% endwith %}
  <div>
    <h4>
    <a href="{{ profile.get_absolute_url }}">{{profile.full_name}}</a>
      {% if not no_user_profile %}
        <div style="font-size:50%">{% trans profile.profile %}</div>
      {% endif %}
    </h4>
    {% comment %}
    <div class="details">
      <div class="meta">
        <p>
          {% if profile.organization %}{{ profile.organization }}
            {# {% else %}{% trans "No Group" %} #}
          {% endif %}</p>
      </div>
    </div>
    {% endcomment %}
  </div>
</section>
