{% extends "tabular/document_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}{{ resource.title }} — {{ block.super }}{% endblock %}

{% block head %}

{{ block.super }}

<link href="{{ STATIC_URL }}/geonode/js/datatables/jquery.dataTables.css" rel="stylesheet" />
<script src="{{ STATIC_URL }}/geonode/js/datatables/jquery-1.11.1.min.js"></script>
<script src="{{ STATIC_URL }}/geonode/js/datatables/jquery.dataTables.min.js"></script>
<script>
 $(function() {

    var i18n = {
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    }


    $('#data-preview').dataTable( {
        "ajax": {
            "url": "/api/tabular/{{resource.id}}/sql/?limit=30",
            "dataSrc": ""
        },
        {% if request.LANGUAGE_CODE == 'es' %}"language": i18n,{% endif %}
      "columns": [
        {% for a in resource.tabular_attribute_set.all %}
        {'data': '{{a.attribute}}', 'title': '{{a}}'} {% if not forloop.last %},{% endif %}
        {% endfor %}
      ]
    });
  } )
</script>

{% endblock %}


{% block body_class %}tabular{% endblock %}

{% block body_outer %}
{% get_obj_perms request.user for resource.get_self_resource as "resource_perms" %}

<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">{{ resource.title }}</h2>
  </div>
</div>


<div class="row">

  <div class="col-md-9">
    {% if resource.extension|lower in imgtypes and resource.doc_file %}
    <div id="embedded_map">
      <a style="text-decoration:none;" href="{% url "tabular_download" resource.id %}" target="_blank">
        <img src="{% url "tabular_download" resource.id %}" width='100%' />
      </a>
    </div>
    {% elif resource.doc_file %}
    <p>
      <a href="{% url "tabular_download" resource.id %}" target="_blank">
        {% blocktrans with resource as resource_name %}
          Download the {{ resource_name }} table
        {% endblocktrans %}        
      </a>
    </p>
    {% elif  resource.doc_url %}
    <p><a href="{{ resource.doc_url }}" target="_blank">
      {% blocktrans with resource as resource_name %}
          Download the {{ resource_name }} table
        {% endblocktrans %}.
      </a> <small>({% trans 'External Resource' %})</small>
    </p>
    {%  endif %}

    <div class="row">
    <div class="col-md-12" style="overflow:auto;font-size: 9px;">
    <table id="data-preview" class="display" cellspacing="0" width="100%"></table>  
    </div>
    </div>

    <div class="documents-actions">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab"><i class="fa fa-info-circle"></i>{% trans "Info" %}</a></li>
        <li><a href="#attributes" data-toggle="tab"><i class="fa fa-bars"></i>{% trans "Attributes" %}</a></li>
        <li><a id="permissions-btn" href="#permissions" data-toggle="tab"><i class="fa fa-lock"></i>{% trans "Permissions" %}</a></li>  
        <li><a href="#links" data-toggle="tab"><i class="fa fa-link"></i>{% trans "Links" %}</a></li>  
        {% comment %}
        {% if SOCIAL_BUTTONS %}
        <li><a href="#share" data-toggle="tab"><i class="fa fa-share"></i>{% trans "Share" %}</a></li>
        {% endif %}
        <li><a href="#rate" data-toggle="tab"><i class="fa fa-star"></i>{% trans "Ratings" %}</a></li>
        {% endcomment %}
        <li><a href="#comments" data-toggle="tab"><i class="fa fa-comment-o"></i> {% trans "Comments" %}</a></li>
      </ul>
    </div>

    <div class="tab-content">
      {% include "base/resourcebase_info_panel.html" %}

      <article id="attributes" class="tab-pane">
        {% if resource.tabular_attribute_set.all %}
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th>{% trans "Attribute Name" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for attribute in resource.tabular_attribute_set.all %}
                  <tr>
                    <td>{{ attribute }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}
      </article>

     {% include "base/resourcebase_links_panel.html" %}

      {% block social_links %}
        {% include "social_links.html" %}
      {% endblock %}

      <article id="permissions" class="tab-pane">
        <div class="row">
          <div class="col-md-12">
            {% include 'base/_profile_list_item.html' %}        
          </div>
        </div>      
      </article>

      {% include "_permissions_form.html" %}

        
      <article id="comments" class="tab-pane">
      {% include "_comments.html" %}
      </article>
        
      <article id="rate" class="tab-pane">
        <!-- TODO: Move this to a reusable template snippet -->
        {% if request.user.is_authenticated %}
        <h4>{% trans "Rate this table" %}</h4>
        {% user_rating request.user resource "document" as user_document_rating %}
        <div id="user_rating" class="category-layer" data-score="{{user_document_rating}}"></div>
        {% endif %}
        <h4>{% trans 'Average Rating' %}</h4>
        {% overall_rating resource "document" as document_rating %}
        {% num_ratings resource as num_votes %}
        <div class="overall_rating" style="float:left" data-score="{{ document_rating }}"></div> ({{num_votes}})
        <!-- TODO: Add display of who gave what rating based -->
      </article>
    </div>
  </div>



  <div class="col-md-3">

    <ul class="list-group">
      <li class="list-group-item">
        {% if resource.extension|lower in imgtypes and resource.doc_file %}
          <a style="text-decoration:none;" target="_blank" href="{% url "tabular_download" resource.id %}"><button class="btn btn-default btn-md btn-block">{% trans "Download Table" %}</button></a>
        {% elif resource.doc_file %}
          <a style="text-decoration:none;" target="_blank" href="{% url "tabular_download" resource.id %}"><button class="btn btn-default btn-md btn-block">{% trans "Download Table" %}</button></a>
        {% elif  resource.doc_url %}
          <a style="text-decoration:none;" target="_blank" href="{{ resource.doc_url }}"><button class="btn btn-default btn-md btn-block">{% trans "Download Table" %}</button></a>
        {%  endif %}
      </li>
      <li class="list-group-item">
        <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#download-metadata">{% trans "Download Metadata" %}</button>
      </li>
      <div class="modal fade" id="download-metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">{% trans "Download Table" %}</h4>
            </div>
            <div class="modal-body">
              <ul>
                {% for link in resource.link_set.metadata %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
              <ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
          </div>
        </div>
      </div>
      
      {% if "change_resourcebase" in resource_perms %}
      <li class="list-group-item">
        <button class="btn btn-default btn-md btn-block" data-toggle="modal" data-target="#edit-document">{% trans "Edit Table" %}</button>
      </li>
      <div class="modal fade" id="edit-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">{% trans "Download Table" %}</h4>
            </div>
            <div class="modal-body">
              <ul>
                <li><a href="{% url "tabular_metadata" resource.id %}">{% trans "Edit Metadata" %}</a></li>
                <li><a href="{% url "tabular_replace" resource.id %}">{% trans "Replace this Table" %}</a></li>
                <li><a href="{% url "tabular_append" resource.id %}">{% trans "Append to this Table" %}</a></li>
                <li><a href="{% url "tabular_remove" resource.id %}">{% trans "Remove this Table" %}</a></li>
              <ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <li class="list-group-item">
        <h4>{% trans "Resource using this table" %}</h4>
        {% if layer.maps %}
        <p>{% trans "List of resources using this table:" %}</p>
        {% endif %}
        <ul class="list-unstyled">
          {% if related.title %}
          <p>{% trans "This table is related to a " %} {{ resource.content_type.name }}</p>
          <a href='{{ related.get_absolute_url }}'>{{ related.title }}</a>
          {% else %}
          <p>{% trans "This table is not related to any maps or layers" %}</p>
          {% endif %}
        </ul>
      </li>

      {% comment %}
      {% include "base/_resourcebase_contact_snippet.html" %}
      {% endcomment %}

      <li class="list-group-item">
        <h4>{% trans "Creator" %}</h4>
        {% with resource.creator as profile %}
          {% include "people/_profile_about_item.html" %}
        {% endwith %}
      </li>

    </ul>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% if SOCIAL_BUTTONS %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
    {% if request.user.is_authenticated %}
        {% user_rating_js request.user resource "document" %}
    {% else %}
        {% overall_rating resource "document" as the_doc_rating %}
    {% endif %}
    {% include 'rating.html' %}
    <script type="text/javascript">
        {% if SOCIAL_BUTTONS %}
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        {% endif %}
    </script>
    {% include "_permissions_form_js.html" %}

  <script type="text/javascript">
  
    layer_id = {{resource.id}};
    permissions = JSON.parse('{{permissions_json|safe}}');
    owner = '{{resource.owner.username}}';
    creator = '{{resource.creator.username}}';

    permissions = JSON.parse('{{permissions_json|safe}}');
    users = [];
    for(var i in permissions.users) {
      if(permissions.users[i].indexOf("change_resourcebase_permissions")<0)
        users.push(i);
    }
    for(var i in permissions.apps) {
      users.push(i);
    }


    SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}'+ '?username__in='+ users.join(',');
    FIXED_FILTERS = {};
  </script>

  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}

{% endblock extra_script %}
