{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}tabular{% endblock %}

{% block body_outer %}
  <div class="col-md-12">
    <a href="{% url "tabular_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Tables" %}</a>
    <h2 class="page-title">{% trans "Upload Table" %}</h2>
  </div>
    
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}

{% endblock body_outer %}
