{% load i18n %}

<br>
<h5>{% trans "Map overlays" %}</h5>

<nav class="filter">
  <h4>
    <a href="#" class="toggle toggle-nav">
      <i class="fa fa-chevron-right"></i>{% trans "Public layers" %}
    </a>
  </h4>
  <ul class="nav closed" id="public_layers">
    <div class="col-md-offset-1">
    {% verbatim %}
      <li ng-repeat="catlayers in public_layers">
        <nav class="filter">
          <h4>
            <a href="#" class="toggle toggle-nav" ng-click="toggle_nav($event)">
              <i class="fa fa-chevron-right"></i>{{catlayers.category}}
            </a>
          </h4>
          <ul class="nav closed">
            <li ng-repeat="layer in catlayers.layers">
              <a href="#" data-id="{{layer.id}}" class="toggle toggle-nav {{layer.class}}" ng-click="toggle_map_overlay($event)">{{layer.title}}</a>
            </li>
          </ul>
        </nav>
      </li>
    {% endverbatim %}
    </div>
  </ul>
</nav>