{% load i18n %}
  <div class="col-md-8 filter">      
    {% if custom_sort_filter %}
      {% include custom_sort_filter %}
    {% else %}
      {% include "search/_sort_filters.html" %}
    {% endif %}
  </div>
  <div class="col-md-12">
    <div class="row" id="contain-slider">
      <div class="col-md-3">
        <div class="selections">
          <h5>
            {% trans "Filters" %}
            <a href="." id="clear-search" class="pull-right">{% trans "Clear all filters" %}</a>
          </h5>
        </div>
        {% if custom_filters %}
          {% include custom_filters %}
        {% else %}
          {% if 'text' in include_filters %}
            {% include "search/_text_filter.html" %}
          {% endif %}
        <div id="slide-pane">
          {% if ',type,' in include_filters %}
            {% include "search/_type_filters.html" %}
          {% endif %}
          {% if ',category,' in include_filters %}
            {% include "search/_category_filter.html" %}
          {% endif %}
          {% if ',keyword,' in include_filters %}
            {% include "search/_keyword_filter.html" %}
          {% endif %}
          {% if ',date,' in include_filters %}
            {% include "search/_date_filter.html" %}
          {% endif %}
          {% if custom_filters %}
            {% include custom_filters %}
          {% endif %}
          {% if ',extent,' in include_filters %}
            {% include "search/_extent_filter.html" %}
          {% endif %}
        </div>
        {% endif %}
      </div>
      
      <div class="col-md-9">
        {% if custom_content_header %}
          {% include custom_content_header %}
        {% endif %}

        {% include 'search/_pagination.html' %}

        {% if custom_snippet %}
          {% include custom_snippet %}
        {% else %}
          {% include 'base/_resourcebase_snippet.html' %}
        {% endif %}
      </div>
    </div>
  </div>
