{% load i18n %}
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Imported Data Type" %}</a></h4>
  <ul class="nav closed" id="tabular_types">
    {% verbatim %}
      <li ng-repeat="tabular_type in tabular_types">
        <a data-value="{{ tabular_type.name }}" data-filter="tabular_type__name__in" 
         ng-click="multiple_choice_listener($event)" class="{{tabular_type.active}}">{{ tabular_type.name }}
          <span class="badge pull-right">{{ tabular_type.count }}</span>
        </a>
      </li>
    {% endverbatim %}
  </ul>
</nav>
